@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

:root {
    --betterblack: #252525;
    --bgcolor: #7FBEB7;
    --menucolor: #598580;
    --shadecolor: #0000005b;
    --accentcolor: #FFFAB9;
}

body {
    width: 100%;
    margin: 0px;
    background-color: var(--menucolor);
    font-family: 'Poppins';
}

header {
    background-color: var(--betterblack);
    /* background-image: linear-gradient(var(--shadecolor), transparent);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px); */
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    width: auto;
}

main {
    display: block;
    background-color: var(--bgcolor);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10rem;
    text-align: center;
    justify-content: center;
    margin: auto;
    color: white;
}

/* section welcome */

.welcome-container {
    margin: 15rem auto;
}

.welcome-container #welcome-title {
    color: white;
    margin: 0;
    font-size: 62px;
}

#welcome-title > span {
    color: var(--accentcolor);
}

/* section about */

.about-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
    justify-content: center;
    background-color: white;
    color: var(--betterblack);
}

.about-text {
    width: 30%;
    padding: 40px 20px 40px 40px;
    text-align: start;
}

.about-text > p {
    margin: 0;
    font-size: 20px;
}

.about-text > h1 {
    margin: 0 0 10px 0;
    font-size: 32px;
}

.about-img {
    width: fit-content;
    padding: 40px 40px 40px 20px;
}

.about-img > img {
    height: 450px;
}

/* style header */

#highlight-title {
    color: var(--accentcolor);
}

#nav-title a {
    display: block;
    margin: 60px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    z-index: 99;
}

#nav-pages {
    display: block;
    margin: auto 60px auto auto;
}

#nav-pages a {
    text-decoration: none;
    background-color: transparent;
    color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 0px;
    padding: 10px 20px 10px 20px;
    margin: auto 5px auto 5px;
    transition: 300ms ease;
}

#nav-pages a:hover {
    color: white;
    background-color: white;
    color: var(--betterblack);
    border-width: 0px;
    transition: 300ms ease;
}

#nav-pages a#download-button {
    color: var(--betterblack);
    font-weight: 600;
    background-color: var(--accentcolor);
}

#nav-pages a#download-button:hover {
    background-color: white;
}

nav a#menu {
    display: none;
    text-decoration: none;
    margin: auto 60px auto auto;
    scale: 150%;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 960px) {

    /* style nav */

    #nav-pages {
        background-color: var(--menucolor);
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        z-index: 98;
        align-items: center;
        padding: 125px 0px 0px 0px;
        margin: auto;
        transition: 300ms ease;
    }

    #nav-pages a#download-button {
        background-color: var(--accentcolor);
        color: var(--betterblack);
    }

    #nav-pages a#download-button:hover {
        background-color: white;
    }

    #nav-pages.ativo {
        left: 0;
    }

    #nav-pages a {
        display: block;
        width: 100vw;
        text-align: center;
        border-radius: 0px;
        padding: 30px 0;
        margin: 0 auto;
    }

    #nav-pages a:hover {
        background: white;
        color: var(--betterblack);
    }

    nav {
        height: fit-content;
    }

    nav a#menu {
        display: block;
        z-index: 100;
    }

    /* style section about */

    .about-img > img {
        height: 250px;
    }

    .about-text {
        width: 50%;
        padding: 40px 20px 40px 40px;
        text-align: start;
    }
    
    .about-text > p {
        margin: 0;
        font-size: 16px;
    }
    
    .about-text > h1 {
        margin: 0 0 10px 0;
        font-size: 24px;
    }

}

@media screen and (max-width: 610px) {
    
    /* style nav */

    #nav-title a {
        margin-left: 30px;
    }

    nav a#menu {
        margin-right: 30px;
    }

    /* style section about */
    
    .about-container {
        display: block;
    }

    .about-img {
        padding: 0;
        margin: 0 auto;
    }

    .about-text {
        width: 80%;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }

    .about-text > h1 {
        margin: 10px 0px;
    }

    /* style section welcome */

    .welcome-container > p {
        margin: 15px 75px;
    }

}

@media screen and (max-width: 400px) {

    /* style section welcome */

}